@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

nav{
    display: flex;
    justify-content: space-around;
    background-color: #353434;
    align-items: center;


}

.logimg{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
}

.card-img{
    opacity: 0.48;
}
.contaier{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.words{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
   background-color: #1e4d67;
   height: 50%;
   color: white;
   padding: 20px;
    
}

.letras{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 576px) {
    .logimg {
      display: none;
    }
  
  }
  
@media (max-width:576px){
    .card-img-overlay{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items:end ;
       justify-content:center;
      
       
    }
    .card-text{
        font-size: small;
    }
}

@media (min-width:576px){
    .card-img-overlay{
       padding-top: 330px;
       padding-right: 170px;
      
      
       
    }}

@media (max-width:576px){
    .letras{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    
        
    }
}

@media (max-width:576px){
body{
    margin-left: 5px;
    margin-right: 0px;
 }
}